.button {
    padding: 0 5px!important ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer
}

.play {
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 5px 3px 7px;
}

.video {
    padding: 10px;
}

.modal-content{
    width: 600px;
}